<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <handlers>
      <add name="PythonHandler"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\inetpub\wwwroot\descubra-pontapora-backend\venv\Scripts\python.exe|C:\inetpub\wwwroot\descubra-pontapora-backend\venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>

    <fastCgi>
      <application fullPath="C:\inetpub\wwwroot\descubra-pontapora-backend\venv\Scripts\python.exe"
                   arguments="C:\inetpub\wwwroot\descubra-pontapora-backend\venv\Lib\site-packages\wfastcgi.py" />
    </fastCgi>

  </system.webServer>

  <appSettings>
    <!-- Módulo.função que retorna o objeto Flask -->
    <add key="WSGI_HANDLER" value="app.start_app" />

    <!-- Caminho do projeto -->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\descubra-pontapora-backend" />
  </appSettings>
</configuration>
